* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title_of_author{
position: absolute;
left: 33%;
height: 235px;
top: 8%;
}

.logo{
height: 295px;
position: relative;
top: -75px;
}

.songs_images{
position: relative;
left: 23%;
height: 450px;
width: 450px;
}

section{
position: absolute;
left: 63%;
top: 325px;
}

section img{
height: 500px;
width: 500px;
}
section h1{
text-transform: uppercase;
text-align: center;
font-size: 45px;
}

.lyrics_div_content{
height: 600px;
width: 800px;
position: absolute;
left: 225px;
overflow-y: auto;
overflow-x: auto;
top: 325px;
}
